<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    </head>
    <body>
    <nav style="height: 70px; right: 180px; zoom: 120%;">
        <img src="{{url_for('static', filename='logo.png')}}" alt="" class="logo">
    </nav>
    <div class="hero" style="zoom: 110%;">
        <br>
        <div>
            {% if flg == True %}
            <a href="/attendance"><img style="float:left; margin-top: 130px; margin-left:130px; width: 300px; height:280px; border-radius: 100% ;"
            src="{{url_for('static', filename='attendance.jpg')}}"></a>
            {% endif %}
            {% if flg == False %}
           <img style="float:left; margin-top: 130px; margin-left:130px; width: 200px; height:180px; border-radius: 100% ;"
                src="{{url_for('static', filename='check.jpg')}}">
                <br>
                <p style="float:left; margin-top: 400px; margin-left:-250px;"> Your attendance has been  <br> marked {{ status }} !</p>
                <br>
                <a class="two" style="float:left; margin-top: 400px; margin-right:-250px;" href="/">okay</a>
            {% endif %}
        </div>
        <div class="text-container">
            <h2 style="font-size: 45px;">Facial Recognition <br> Based Attendance System</h2>
            <br><br>
            <a>Class Name</a><br>
            <a>Teacher Name</a><br>
            <a>Timings</a>
        </div>
        <br><br>
    </div>
</body>
</html>